doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width")
        title my jade template
        style(type="text/css"): include ink.css
        style(type="text/css"): include custom.css
    body
        table.body: tr: td.center(align="center", valign="top"): center
            table.container: tr: td.center(align="center", valign="top"): center
                table.row.header: tr: td.wrapper.last
                    table.twelve.columns: tr
                        td(style="text-align:right; vertical-align:middle;padding-right:10px;")
                            span.template-label Recruiter Activity Report
                                br
                                | #{rundate}
                        td.expander
            br
            table.container: tr: td
                // content start
                each recruiter, i in emaildata
                    table.row.footer: tr: td.wrapper.last: table.twelve.columns: tr
                        td(style="background:#ebebeb; padding: 10px 10px 0px 10px;")
                            h5(style="color:#48c3b1; font-weight:bold")= recruiter.name
                        td.expander
                    table.row.footer: tr
                        td.wrapper: table.seven.columns: tr
                            // Name should come here
                            td.left-text-pad(style="padding-top:10px")
                                h6(style="color:#636567; padding-bottom:10px") Assigned Jobs
                                if recruiter.jobactivity
                                    table: tr: td
                                        each jobactivity,ji in recruiter.jobactivity
                                            p(style="color:#939597; font-size:11px")
                                                strong
                                                    a(style="color:#48c3b1 !important;", href="https://cls5.bullhornstaffing.com/BullhornStaffing/OpenWindow.cfm?Entity=JobOrder&id=#{ji}")
                                                        | #{ji} - #{jobactivity.title}
                                                br
                                                |Current Status: #{jobactivity.status}
                                                if jobactivity.isOpen
                                                    |  (Open)
                                                br
                                                if jobactivity.history
                                                    each history,hi in jobactivity.history
                                                        |#{history.columnName.replace('correlatedCustomText2', 'Recruiter')} changed from "#{history.oldValue}" to "#{history.newValue}"
                                                        br
                                                if jobactivity.activities
                                                    each jactivity,ai in jobactivity.activities
                                                        - var lstyle = ai.indexOf('_Note')>-1 ? '' : 'color:#48c3b1;'
                                                        span(style="#{lstyle}")
                                                            strong #{ai.replace('_Note', ' Notes')}:  
                                                            |#{jactivity}
                                                        br
                            td.expander
                        td.wrapper.last: table.five.columns(style="background:#fff"): tr
                            td.last.right-text-pad(style="padding-top:10px")
                                h6(style="color:#636567; padding-bottom:10px") All Activity
                                if recruiter.allactivity
                                    table: tr: td
                                        p(style="color:#939597; font-size:11px")
                                            each activity,ai in recruiter.allactivity
                                                - var lstyle = ai.indexOf('_Note')>-1 ? '' : 'color:#48c3b1;'
                                                span(style="#{lstyle}")
                                                    strong #{ai.replace('_Note', ' Notes')}:  
                                                    |#{activity}
                                                br
                            td.expander

            table.container: tr: td.center(align="center"): center
                table.row.header: tr: td.wrapper.last
                    table.twelve.columns: tr
                        td(style="padding-bottom:25px; padding-top:15px; text-align:center; color:#fff")
                            |& copy; 2014 314e Corporation. All rights reserved.
                        td.expander
